<div class="container">
    Details:
    <div class="p-5 mt-5">
        <div class="input-group mb-3">
            <select class="form-control col-md-2">
                <option value="album">Album</option>
                <option value="artist">Artist</option>
                <option value="playlist">Playlist</option>
                <option value="track">Track</option>
                <option value="show">Show</option>
                <option value="episode">Episode</option>
            </select>
            <input type="text" class="form-control col-md-10" aria-label="Text input with dropdown button">
      </div>
    </div>
</div>