<div class="list">
    <h4>{{  header }}</h4>
    <table class="table table-borderless table-hover">
        <tbody>
            <iframe src="https://open.spotify.com/embed/track/6v3KW9xbzN5yKLt9YKDYA2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <tr (click)="playMusic(track)" *ngFor="let track of tracks; let i=index;">
                <ng-container *ngIf="i < 4">
                    <td class="w-25">
                        <img [src]="track?.album?.images[0]?.url" />
                    </td>
                    <td class="w-50">
                        <h6>{{ track.name }}</h6>
                        <span class="small-text">{{ track?.artists[0]?.name }}</span>
                    </td>
                    <td class="w-25">
                        {{ track.duration_ms / 60000 | number : '1.1-2'}}
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>