.list{
    img{
        width: 40px;
    }
    tr:hover{
        background-color: rgba(255, 255, 255, 0.09);
        color: #fff;
    }
    h6{
        margin-bottom: 0;
    }
    .small-text{
        font-size: 10px;
    }
}